<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <style>
    p{
      font-size: larger;
      font-weight: bold;
      font-family: "Inter", sans-serif !important;
    }
    h1{
        font-family: "Inter", sans-serif !important;
    }
    .back {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;
    }
    .back:hover {
      background-color: #45a049;
    }
  </style>
  <title>Profile</title>
</head>
<body>
<h1>Ihr Profil</h1>

<p class="role">
  Ihr Benutzername: <span sec:authentication="principal.username"></span>
  <br><br>
  <span th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Ihre Rolle: Projektleiter</span>
  <span th:if="!${#authorization.expression('hasRole(''ADMIN'')')}">Ihre Rolle: Mitarbeiter</span>
</p>

<hr><br>
<script>
  function goBack() {
    window.location.href = "http://localhost:8081";
  }
</script>

<button class="back" onclick="goBack()">Zurück</button>

</body>
</html>